.wipContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  overflow: hidden;
}

.logo{
  margin-top: 10px;
  width: 20vw;
}

.constructionImage{
  width: 100vw;
}
